---
type Props = {
  href: string
}

const { href } = Astro.props
---

<a
  href={href}
  class="group relative flex w-fit flex-nowrap rounded-lg border border-stone-200 py-1.5 pr-3 pl-7 transition-all duration-300 ease-in-out hover:border-stone-300 hover:bg-stone-100/50 dark:border-stone-800 dark:hover:border-stone-700 dark:hover:bg-stone-800/50"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="absolute top-1/2 left-2 size-4 -translate-y-1/2 fill-none stroke-stone-400 stroke-2 transition-colors duration-300 group-hover:stroke-stone-600 dark:stroke-stone-500 dark:group-hover:stroke-stone-300"
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="translate-x-2 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
    ></line>
    <polyline
      points="12 5 5 12 12 19"
      class="translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
    ></polyline>
  </svg>
  <span
    class="text-sm text-stone-600 transition-colors duration-300 group-hover:text-stone-900 dark:text-stone-400 dark:group-hover:text-stone-100"
  >
    <slot />
  </span>
</a>
